html {
    height: 100%;
}
  
body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

*, *:before, *:after {
    box-sizing: inherit;
}