.achievements {
  padding: 41px 20px 44px;
  background-color: #f2f2f2;
  border: none;

  .achievements__list {
    @include reset();
  }

  .achievements__item {
    margin-bottom: 47px;
  }

  .achievements__item:last-child {
    margin-bottom: 0;
  }
}

.achievements__title {  
  margin: 0 0 42px 0;
  padding: 0;
  line-height: 30px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.achievements__legend {
  display: none;
  margin: 0 auto;

  font-size: 14px;
  line-height: 30px;
  color: $color-accent;
  text-transform: uppercase;
}

.achievements__label {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  line-height: 30px;


  &::before {
    content: "";
    left: 0;
    width: 43px;
    height: 43px;
    margin-right: 33px;
    flex-shrink: 0;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 20px;

    border: 2px solid #e5e5e5;
  }

  &:hover::before {
    border: 2px solid $color-main;
  }

  &:active::before {
    border: 2px solid $color-accent;
  }

  // &::after {
  //     content: "";
  //     position: absolute;
  //     top: 9px;
  //     left: 15px;
  //     width: 15px;
  //     height: 33px;
  //     flex-shrink: 0;

  //     background-color: transparent;
  //     border: 3px solid #d4305c;
  //     border-width: 0 3px 3px 0;
  //     transform: rotate(45deg);
  // }
}

.achievements__item.achievements__item--checked {
  .achievements__label::before {
    background-image: url("../../img/tick.jpg");
  }
}

@media (min-width: $tablet-width) {
  .achievements {
    order: 4;
    margin: 44px 20px;
    padding: 54px 60px 50px;
    background: none;
    border: 2px solid $bg-grey;
  }
  .achievements__title {
    display: none;
  }
  .achievements__legend {
    display: initial;
  }
}

@media (min-width: $desktop-width) {
  .achievements {
    width: 100%;
    margin: 44px 0;
  }

  .achievements__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .achievements__list > li {
    width: 30%;
  }

}

