.advantages {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    color: #283645;
    text-align: center;
    .advantages__intro,
    .advantages__slogan {
        font-size: 24px;                
    }
}
