.advantages {
  margin-bottom: 49px;
  padding: 0;

  text-align: center;
  background-image: linear-gradient(175deg,#fff 26%,#f2f2f2 23%);
  overflow: hidden;
}

.advantages__wrapper {
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-auto-rows: max-content;
}

.advantages__intro,
.advantages__slogan {
  font-size: 24px;
  line-height: 28px;
}

.advantages__intro {
  margin: 46px 0 40px 0;
}

.advantages__slogan {
  margin-top: 0;
  margin-bottom: 119px;
}

.advantages__hello {
  margin: 0 auto;
}

.advantages__item {
  margin-bottom: 40px;
}

.advantages__list {
  @include reset();
  margin-bottom: 5px;
  text-align: center;

  .advantages__title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
}

.advantages__images {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__image-item1 {
  width: 157px;
  height: 330px;
  margin-bottom: -45px;
  background: url("../../img/advantages_mobile_item1.png") no-repeat center;
  background-size: 100% 100%;
}

.advantages__image-item2,
.advantages__image-item3 {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 58px;
    background-image: linear-gradient(175deg,#fff 39%,#f2f2f2 35%);
  }

  .advantages__intro,
  .advantages__slogan {
    font-size: 40px;
    line-height: 40px;
  }

  .advantages__slogan {
    margin-bottom: 50px;
  }

  .advantages__list {
    padding-top: 75px;
    text-align: left;
  }

  .advantages__intro {
    margin-bottom: 0;
  }

  .advantages__wrapper {
    grid-auto-rows: unset;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    // flex-direction: row;
  }

  .advantages__list {
    width: 320px;
    order: 1;
    padding-left: 10px;
  }

  .advantages__image-item1 {
    width: 268px;
    height: 558px;
    margin-bottom: -65px;
    background: url("../../img/advantages_tablet_item1.png") no-repeat center;
    background-size: 100% 100%;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 0;
    padding-bottom: 52px;
  }
  .advantages__wrapper {
    grid-template-columns: unset;
    grid-auto-rows: auto;
    // flex-direction: column;
  }

  .advantages__intro,
  .advantages__slogan {
    font-size: 50px;
    line-height: 50px;
  }

  .advantages__intro {
    margin-top: 79px;
  }

  .advantages__slogan {
    margin-bottom: 75px;
  }

  .advantages__list {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;

    background-color: #f2f2f2;
    .advantages__title {
      font-size: 30px;
      line-height: 30px;
    }
    .advatages__description {
      font-size: 18px;
    }
  }

  .advantages__item {
    position: relative;
    width: 300px;
    padding: 60px 32px 0;

    text-align: center;
    margin-bottom: 0;
  }

  .advantages__images {
    justify-content: space-between;
    margin-bottom: -81px;
  }

  .advantages__image-item1,
  .advantages__image-item2,
  .advantages__image-item3 {
    display: block;
    width: 300px;
    height: 389px;

    background-repeat: no-repeat;
    background-position: center;
  }

  .advantages__image-item1 {
    background-image: url("../../img/advantages-icon-1-desktop.png");
  }
  .advantages__image-item2 {
    background-image: url("../../img/advantages-icon-2-desktop.png");
  }
  .advantages__image-item3 {
    background-image: url("../../img/advantages-icon-3-desktop.png");
  }
}
