@import '../utils/variables.scss';

.advantages {
  display: flex;
  flex-direction: column;
  padding: 0;

  text-align: center;

  .container {
    // margin-bottom: -45px;
    // z-index: -1;
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
}

.advantages__intro,
.advantages__slogan {
  font-size: 24px;
}

.advantages__intro {
  margin: 46px 0 40px 0;
}

.advantages__slogan {
  margin-top: 0;
  margin-bottom: 32px;
}

.advantages__hello {
  margin: 0 auto;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  .advantages__title {
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
}

@media (min-width: $tablet-width) {
  .advantages__list {
    text-align: left;
  }

  .advantages__intro {
    margin-bottom: 0;
  }

  .advantages__wrapper {
    justify-content: space-between;    
    flex-direction: row;
  }

  .advantages__list {
    width: 320px;
    order: 1;
    padding-left: 10px;
  }
}
