.button {
  width: 276px;
  padding: 15px 0;
  font-size: 18px;
  color: white;
  line-height: 30px;
  text-transform: uppercase;

  background-color: $bg-button;
  border: none;
  border-radius: 2px;
  &:hover {
    background-color: $bg-button-hover;
  }
  &:active {
    color: rgba(255,255,255, .3);
  }
  &.disabled {
    background-color: $bg-grey;
  }
}
