.controls {
    .control__bar {
        height: 2px;
        background-color: black;
    }

    .control__slider {
        position: relative;
        width: 14px;
        height: 14px;
        top: 50%;
        left: calc(100% - 47px);
        border-radius: 50%;
        background-color: $bg-grey-lighter;
        border: 2px solid $color-accent;

        transform: translate(0,-50%);
    }
    
    .control__slider:focus {
        background-color: $color-accent;
    }
}