@import "../utils/variables.scss";

.contacts {
  padding-top: 47px;

  font-size: 24px;
  font-weight: 300;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .contacts__title {
        margin-bottom: 33px;
        text-align: center;
        font-weight: inherit;
    }

    .contacts__item {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: bold;
    }

    .contacts__item a {
        color: #d22856;
        font-weight: 300;
    }
}

.contacts__text {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__address {
  margin-bottom: 42px;
}

.contacts__map {
  width: $mobile-width-only;
  height: 200px;
  margin: 0 auto;
  background: url("../../img/map.png") no-repeat center center;
}

@media (min-width: $tablet-width) {
  .contacts__text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacts__phone,
  .contacts__email {
    width: 50%;
  }
  .contacts__address {
    width: 100%;
  }
  .contacts__map {
    width: $tablet-width;
    height: 375px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__item {
    width: initial;
  }
  .contacts__email {
    width: 100%;
    order: 2;
  }
  .contacts__address {
    width: initial;
    order: 1;
    margin-bottom: 0;
  }
  .contacts__map {
    width: $desktop-width;
    height: 505px;
  }
}
