.intro {
  background-color: $bg-darkblue;
  background-image: url("../../img/intro_background_mobile.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 462px;
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../../img/intro_background_tablet.png");
    background-size: initial;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../../img/intro_background_desktop.png");
  }
}
