.intro {

}

@media (min-width: $tablet-width) {
  .intro { 
    padding-top: 184px;
    background-color: $bg-darkblue;    
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../../img/intro_background_tablet.png");
    background-size: initial;
  }

  .intro__wrapper {
    position: relative;    
  }
}

@media (min-width: $desktop-width) {
  .intro {    
    padding-top: 220px;
    background-image: url("../../img/intro_background_desktop.png");
  }
}
