.main-form {
    padding-top: 54px;

    .main-form__intro {
        margin-bottom: 47px;
        margin-top: 0;

        line-height: 30px;
        text-align: center;
    }
}

.name-data {
    margin: 0;
    padding: 0;

    border: none;
    .name-data__list {
        margin: 0;
        padding: 0;
    }
}