.page-footer {
    padding-top: 47px;

    font-size: 24px;
    font-weight: 300;
    .page-footer__wrapper .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-footer__copyright.copyright {
        margin-bottom: 40px;
    }
}
