@import '../utils/variables.scss';

.page-footer {
    padding-top: 47px;

    font-size: 24px;
    font-weight: 300;
    .page-footer__wrapper .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-footer__copyright.copyright {
        margin-bottom: 40px;
    }
}

.page-footer__map {    
    width: $mobile-width-only;
    height: 200px;
    background: url("../../img/map.png") no-repeat center center;
}

@media (min-width: $tablet-width) {
    .page-footer__map {
        width: $tablet-width;
        height: 375px;
    }
}

@media (min-width: $desktop-width) {
    .page-footer__map {
        width: $desktop-width;
        height: 505px;
    }
}