.page-header {
  position: absolute;
  width: 100%;
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -66px;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  z-index: 2;

  background-color: $color-main; 
  
  .page-header__wrapper {
    width: auto;
    padding: 0;
  }

  &.page-header--nav-closed {
    background-color: rgba(0, 0, 0, 0.3);  
  }

  .page-header__logo-glasses {
    margin-right: 12px;
  }

  .page-header__toggle {
    width: 24px;
    height: 24px;
  }
}

.page-header__logo {
  margin-left: 20px;
  fill: white;
  &:hover {  
    fill: $color-accent;
  }
  &:active {  
    opacity: 0.3;
  }  
}

@media (max-width: $mobile-width-only) {
  .page-header__logo {
    display: flex;
    align-items: center;
  }

  .page-header__logo-glasses {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 110px;
    margin-bottom: -110px
  }
}

@media (max-width: $mobile-width-only) {
  .page-header--nojs.page-header {
    position: static;    
    display: block;
    margin-bottom: 0;

    background-color: $color-main;

    & .page-header__logo {
      display: flex;
      align-items: center;
      min-height: 66px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
    .page-header__wrapper {
      display: grid;
      grid-template-columns: 150px 620px;
      column-gap: 170px;
      width: 960px;
      margin: 0 auto;
      padding: 0 20px;
    }
  }
  .page-header__logo {
    margin: 0;
  }
  .page-header__toggle {
    display: none;
  }
}
