.photo {
  padding-top: 54px;
  padding-bottom: 54px;

  line-height: 30px;
  font-weight: 300;

  .photo__slogan {
    margin: 0;
    padding: 0 20px 56px 20px;
    font: inherit;
    text-align: center;
  }

  .photo-post__author {    
    font-weight: bold;
  }

  .photo-post__time {
    text-transform: uppercase;
  }

  .photo-post__time {
    font-weight: 400;
    text-transform: uppercase;
  }

  .button-like__text {
    font-size: 12px;
    text-transform: uppercase;
  }
}


.photo-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;

  background-color: #f2f2f2;
}

.photo-post__wrapper {
  padding: 25px 16px 26px;
}

.photo-post__marker {
  position: absolute;
  background-color: #d22856;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 6px 20px;
  right: 20px;
}

.photo-post__comment,
.photo-post__author {
  margin: 0;
}

.photo-post__comment {
  display: inline-block;
  height: 35px;
}

.photo-post--panarama {
  position: relative;
  background-color: transparent;

  .photo-post__wrapper {
    background-color: #f2f2f2;
  }

  .photo-post__picture {
    margin: 0;
  }

  .container {
    margin: 0 auto;
  }
}

.photo-post__picture {
  img {    
    display: block;
    width: 100%;    
    object-fit: cover;
  }
}

@media (max-width: $tablet-width) {
  .photo {
    padding-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .photo {
    padding-top: 100px;
    .photo__slogan {
      padding-bottom: 80px;
      font-size: 18px;
    }
  }

  .photo-post__wrapper {
    padding: 31px 16px 28px;  
  }

  .photo .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photo-post__comment {
    height: 62px;
  }

  .photo-post:not(.photo-post--panarama) {
    width: 45%;
  }

  .photo-post__like {
    width: 100%;
    justify-content: space-between;
  }

  .photo-post--panarama {
    .photo-post__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .photo-post__comment {
        width: 100%;
        order: 1;
      }
    }
  }

  .photo-post__marker {
    top: 57px;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    .photo__slogan {
      padding-bottom: 92px;
    }
  }

  .photo-post:not(.photo-post--panarama) {
    width: 32%;
  }

  .photo-post__marker {
    top: 54px;
    right: 130px;
  }
}
