.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 138px;
  padding-bottom: 47px;

  line-height: 30px;
  background-image: linear-gradient(178deg, #ffffff 14%, #f2f2f2 14%);

  .price__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;

    overflow: hidden;
  }

  .price__header {
    min-width: 278px;
    height: 94px;

    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: inherit;
    text-transform: uppercase;

    border-right: 2px solid $bg-grey;
    background-color: $color-main;
  }

  .price__header:last-child {
    position: relative;
  }

  .price__header:last-child::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    right: -2px;
    background-color: $color-main;
  }

  .price__header--hit {
    position: relative;
    overflow: hidden;
  }

  .price__header--hit::before {
    content: "hit";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 22px;
    left: -30px;
    top: 10px;

    font-size: 14px;
    line-height: inherit;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $color-accent;
    transform: rotate(-45deg);
  }

  .price__header-cost {
    font-size: 24px;
    font-weight: 300;
    line-height: inherit;
  }

  .price__value,
  .price__field {
    height: 59px;
    padding-left: 22px;
    padding-right: 17px;

    border: 2px solid $bg-grey;
  }

  .price__value {
    line-height: inherit;
  }

  .price__field {
    text-align: center;
  }
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__table {
  border-collapse: collapse;
}

.price__table th:first-child,
.price__table td:first-child {
  display: none;
}

.price__header--first-cell {
  border: none;
  background-color: transparent;
}

.price__field-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .price {
    padding-top: 114px;
    .price__list {
      width: 100%;
    }

    .price__table {
      width: 100%;
    }

    .price__table th:first-child,
    .price__table td:first-child {
      display: table-cell;
    }

    .price__text {
      display: none;
    }

    .price__field-wrapper {
      justify-content: center;
    }

    .price__header {
      font-size: 16px;
    }

    .price__header-cost {
      font-size: 18px;
    }

    .price__value {
      font-size: 14px;
    }

    .price__toggles {
      display: none;
    }
  } 
  .price__wrapper {
    padding: 0 20px;
  } 
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 194px;
    .price__header {
      font-size: 18px;
    }

    .price__header-cost {
      font-size: 24px;
    }

    .price__value {
      font-size: 18px;
    }
  }
  .price__wrapper {
    padding: 0 130px;
  }
}
