.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 87px;
  padding-bottom: 47px;

  line-height: 30px;

  .price__list {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .price__header {
    min-width: 278px;
    height: 94px;

    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: inherit;
    text-transform: uppercase;

    border-right: 2px solid $bg-grey;
    background-color: $color-main;
  }

  .price__header:last-child {
    position: relative;
  }

  .price__header:last-child::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    right: -2px;
    background-color: $color-main;
  }

  .price__header--hit {
    position: relative;
    overflow: hidden;
  }

  .price__header--hit::before {
    content: "hit";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 22px;
    left: -30px;
    top: 10px;

    font-size: 14px;
    line-height: inherit;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $color-accent;
    transform: rotate(-45deg);
  }

  .price__header-cost {
    font-size: 24px;
    font-weight: 300;
    line-height: inherit;
  }

  .price__value,
  .price__field {
    height: 59px;
    padding-left: 22px;
    padding-right: 17px;
    text-transform: uppercase;

    border: 2px solid $bg-grey;
  }

  .price__value {
    line-height: inherit;
  }

  .price__field {
    text-align: center;
  }
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__table {
  border-collapse: collapse;
}

.price__header--first-cell {
  border: none;
  background-color: transparent;
}

.price__field-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .price__list {
    width: 100%;
  }

  .price__table {
    width: 100%;
  }

  .price__text {
    display: none;
  }

  .price__field-wrapper {
    justify-content: center;
  }

  .price__toggles {
    display: none;
  }
}
