.reviews {
    margin-bottom: 45px;
    color: #283645;
    line-height: 30px;
    
    background-color: white;

    .reviews__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
    }

    .reviews__author-name, 
    .reviews__text {
        text-align: center;
    }

    .reviews__author-name {
        display: flex;
        justify-content: center;

        font-size: 18px;
        font-weight: bold;
        color: black;
    }
}

