.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.site-list__item {
  display: flex;
  justify-content: center;

  text-transform: uppercase;
  a {
    color: white;
    text-decoration: none;
  }
}
