.stors {
    display: flex;
    flex-direction: column;

    .stors__photo {
        margin-bottom: 28px;
    }
   
    .stors__download {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 281px;
        height: 55px;
        margin-bottom: 32px;
        
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        border: 3px solid white;
        border-radius: 50px;
    }
}

.stors__list {
    display: flex;
    justify-content: space-around;
    margin: 0 0 28px 0;
    padding: 0;
    list-style: none;

    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}
