.upload {
  .upload__slogan p {
    margin: 0;
    text-align: center;
  }
}

.upload__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 40px;
  background-color: $bg-grey-lighter;

  & fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  .tools__list {
    @include reset();
  }
}

.upload__buttons-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  border-top: 1px solid rgba(221, 223, 224, 0.9);

  .upload__buttons:first-child {
    margin-bottom: 12px;
  }
}

.upload__picture {
  height: 100%;
  margin-bottom: 44px;
}

.upload__options.tools {
  padding: 0;
}

.upload__slogan {
  display: block;
  margin-bottom: 50px;
}


@media (min-width: $tablet-width) {
  .upload__form {
    flex-direction: row;
    justify-content: space-between;
    padding: 54px 20px 54px;
  }

  .upload__toolbar {
    width: 300px;
  }
  .upload__slogan {
    margin: 0 0 73px 0;
  }
  .upload__picture {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .upload__form {
    padding: 57px 130px 57px;
    background-color: $bg-grey-lighter;
  }
  .upload__slogan {
    margin: 0 0 70px 0;
  }
  .upload__buttons-wrapper {
    flex-direction: row;
    justify-content: space-between;
      
    .upload__buttons:first-child {
      margin-bottom: 0;
    }    
  }
}
