.upload {
  .upload__slogan p {
    margin: 0;
    text-align: center;
  }
}

.upload__toolbar {
  width: 100%;
}

.upload__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 40px;
  background-color: $bg-grey-lighter;

  & fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  .tools__list {
    @include reset();
  }
}

.upload__buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid rgba(221, 223, 224, 0.9);

  .upload__buttons {
    width: 250px;
    height: 55px;
    border: 3px solid $color-accent;
    border-radius: 27px;
    outline: none;
    background-color: transparent;

    color: $color-accent;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
  }

  .upload__buttons-send:hover {
    color: white;
    background-color: $color-accent;
  }

  .upload__buttons-send:active {
    color: rgba($color: white, $alpha: .3);
    background-color: $color-accent;
  }

  .upload__buttons-cancel {
    color: $color-main;
    border: 3px solid $color-main;
    opacity: .1;
  }
  .upload__buttons-cancel:hover {
    opacity: .3;
  }
  .upload__buttons-cancel:active {
    color: white;
    background-color: $color-main;
    opacity: .3;
  }

  .upload__buttons:first-child {
    margin-bottom: 12px;
  }
}

.upload__picture {
  height: 100%;
  margin-bottom: 44px;
}

.upload__slogan {
  display: block;
  margin-bottom: 50px;

  line-height: 30px;
}


@media (min-width: $tablet-width) {
  .upload__form {
    flex-direction: row;
    justify-content: space-between;
    padding: 54px 20px 54px;
  }
  .upload__buttons-wrapper {
    border: none;
  }
  .upload__toolbar {
    width: 275px;
  }
  .upload__slogan {
    margin: 0 0 73px 0;

    font-size: 18px;
  }
  .upload__picture {
    width: 300px;
    height: 400px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .upload__form {
    padding: 57px 130px 57px;
    background-color: $bg-grey-lighter;
  }
  .upload__toolbar {
    width: 410px;
  }
  .upload__slogan {
    margin: 0 0 70px 0;
  }
  .upload__buttons-wrapper {
    flex-direction: row;
    justify-content: space-between;

    .upload__buttons { 
      width: 183px;
    }
      
    .upload__buttons:first-child {
      margin-bottom: 0;
    }    
  }
}
