.user-contacts {
  margin: 41px 20px 44px;
  border: none;
}

.user-contacts__list {
  @include reset();
}

.user-contacts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;

  & input {
    padding: 22px;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid #e5e5e5;
  }

  & label {
    padding-left: 20px;
    margin-bottom: 16px;
    line-height: 30px;
  }
}

.user-contacts__item:last-child {
  margin-bottom: 0;
}

.user-contacts__title {
  display: none;
  margin: 0 auto;

  font-size: 14px;
  color: $color-accent;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .user-contacts {
    order: 3;
    padding: 47px 60px 33px;
    border: 2px solid $bg-grey;
  }
  .user-contacts__item {
    & label {
      order: 2;
    }
    & input {
      margin-bottom: 21px;
    }
  }
  .user-contacts__title {
    display: initial;
  }
}

@media (min-width: $desktop-width) {
  .user-contacts {
    width: 100%;
    margin: 41px 0 44px;
    padding: 44px 60px 22px;
  }
  .user-contacts__item {   
    margin-bottom: 0;
  }
  .user-contacts__list {
    display: flex;
    justify-content: space-around;
  }
  .user-contacts__list > li {
    width: 40%;
  }
}
